@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light tema değişkenleri */
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #4dabf7;
}

.light {
  --background-color: #e5e5e593;
  --text-color: #333333;
  --primary-color: #007bff;
}

.sidebarDark {
  background-color: #1a1a1a;
  color: #ffffff;
  border-right: 1px solid #374151;
}

.sidebarLight {
  background-color: #ffffff;
  color: #333333;
  border-right: 1px solid #e5e7eb;
}

/* Tema değişkenlerini uygula */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
